@font-face {
    font-family: conduit;
    src: url(../fonts/Conduit/conduit_itc_light1.ttf) ;
}

body
{
    font-family:conduit;
    font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  color: #000000;
}

*, body *, input, button
{
    font-family:conduit;
}

.navbar-brand 
{
    height:80px;
}

#navbar
{
    padding:0px;
}

.navbar  .countries li:first-child
{
    position:relative;
}
.navbar  .countries li:first-child:after
{
    border-right:1px solid rgba(151, 151, 151, 0.2);
    content:" ";
    display:block;
    position:absolute;
    right:0px;
    height:27px; width:3px;
    top:50%;
    transform:translateY(-50%);
}
.navbar-nav>li>a
{
    line-height:80px;
    padding-top:0px;
    padding-bottom:0px;
    font-size:17.9px;
    font-weight:bold;
    color:#000000;
}

.navbar-nav>li.current_page_item>a, .navbar-nav>li.active>a
{
    color:#f47c60;
}

.navbar-nav>li.cart_icon>a
{
    color:#000000;
}
.navbar-nav>li.cart_icon>a i
{
    position: relative;
}
.navbar-nav>li.cart_icon>a i .circle
{
        content: " ";
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #f47c60;
    top: -2px;
    left: 6px;
    position: absolute;
    
}
#cart_icons_row i, #cart_icons_row
{
    vertical-align: top; line-height:40px;
}
#cart_icons_row
{
    color:#b3b2b2;
    font-size:18px;
    padding-bottom:87px; font-weight:bold; 
    margin-top:30px;
    margin-bottom:15px;
}
#cart_icons_row i
{
        display: inline-block;
    margin-right: 20px;
    font-size: 30px;
    color:#b3b2b2;
}
#cart_icons_row .heading
{
    font-size: 40px;
    font-weight: bold; color:#000;
    text-transform: uppercase;
}

#cart_icons_row .heading i
{
      
    color:#000000;
}


.woocommerce table.shop_table .product-thumbnail img 
{
    max-width:150px !important ; width:auto; height:auto;
}

.woocommerce table.shop_table .product-name
{
    vertical-align: top;
       
}

.woocommerce table.shop_table  .product-name a
{
     color: #000000;
    font-weight: bold;
    text-decoration: none;
    font-size:19px;
    margin-bottom:0px; display:block;
}
.woocommerce table.shop_table{
    margin-top:60px;
}
.woocommerce table.shop_table, .woocommerce table.shop_table td
{
    border:0px; border-bottom:1px dotted rgba(0, 0, 0, 0.32);
}
.woocommerce table.shop_table, .woocommerce table.shop_table tbody tr:nth-last-child(2) td
{
    border:0px;
}
.woocommerce .amount
{
    font-size:20px;
}

.woocommerce table.shop_table a.remove
{
   opacity:0; color:#dddddd !important;
   background-color:transparent !important;
}
.woocommerce table.shop_table a.remove:hover 
{
    color:#b3b2b2 !important;
}
.woocommerce table.shop_table tr:hover a.remove 
{
    opacity:1;
}

.woocommerce table.shop_table input::-webkit-outer-spin-button, .woocommerce table.shop_table input::-webkit-inner-spin-button {
    display: none;
}

.woocommerce table.shop_table .qty_container
{
    width:30px; position: relative; padding-top: 16px;
    padding-bottom: 14px;
}
.woocommerce table.shop_table .qty_container .arrow_up, 
.woocommerce table.shop_table .qty_container .arrow_down
{
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    margin: auto;
    display: block; 
    width: 15px; color:#f47c60;  cursor: pointer;     height: 13px;
}
.woocommerce table.shop_table .qty_container .arrow_up i, 
.woocommerce table.shop_table .qty_container .arrow_down i
{
    font-size: 29px;
    height: 14px;
    line-height: 0px; 
}
.woocommerce table.shop_table .qty_container .arrow_down
{
    bottom: 0px; top:auto;  height:3px;
}
.woocommerce table.shop_table input.qty 
{
    font-size:16px; font-weight:bold;
    border:0px; outline:none; width:100%;
}


#coupon_form
{
    margin-top:30px;
    
}
#coupon_form input[type=text]
{
      border: 1px solid #dddddd;
    width: 188px;
    height: 60px;
    line-height: 60px;
    color: #dddddd;
    border-radius: 0px;
    float: left;
    margin: 0px;
    border-right: 0px;
    padding: 20px;
    font-family: conduit;
    font-size: 20px;
    font-weight: bold;
}

#coupon_form input[type=submit]
{
    border:1px solid #d8d8d8;
        width: 188px;font-family: conduit;
    height: 60px;
    color: #fff;
    border-radius: 0px;
    margin: 0px;
    line-height: 60px; font-size: 20px;
    padding: 0px;
    
}
#coupon_form input[type=submit]:hover
{
    background-image:none; background:#b3b2b2; background-color:#b3b2b2; box-shadow:none;
}

#applied_coupons
{
    width:390px;
    line-height:18px;
    font-size:16px;
    margin-top:20px;
}
#applied_coupons .glyphicon
{
    font-size:25px;
}

#applied_coupons .applied_coupon
{
    margin-bottom:10px;
}


.woocommerce .cart_totals table.shop_table, .woocommerce .cart_totals table.shop_table td, .woocommerce .cart_totals table.shop_table th 
{
    border:0px; font-weight:bold; font-size:16px;
}
.woocommerce .cart_totals table.shop_table .amount
{
     font-size:16px;
}

.woocommerce .cart_totals table.shop_table td
{
    text-align:right;
}

.wc-proceed-to-checkout 
{
    padding:0px !important;
}
.wc-proceed-to-checkout .tax_note
{
    color:#000000;
    opacity:0.7;
    font-size:12px; text-align:center;
}
#custom_update_btn 
{ padding:0px;
    border:0px; font-size:20px; font-weight:bold;
    height:60px; line-height:60px; 
}
#custom_update_btn:hover 
{
    background-color:transparent;
}
#custom_update_btn i 
{
    display:inline-block;
    margin-right:20px;
}

.wc-proceed-to-checkout a.checkout-button
{
     width: 177px;
  height: 60px;
  border-radius: 100px;
  background-color: #f47c60 !important; margin-bottom:10px !important;
}

.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
    width: 35%;
}
.pay_as_little_text
{
    font-size:16px; color:#000000; width:174px; float:right;
}
.pay_as_little_text h3
{
    
    color:#f47c60; font-weight:bold;font-size:16px; margin-bottom:5px;
}
.pay_as_little_text p 
{
    margin-bottom:5px;
}
.pay_as_little_text a 
{
    font-weight:bold;font-size:16px;color:#000000;
    
}


.seperator
{
    border-top:1px solid #ddd; width:100%; margin-top:50px; margin-bottom:50px;
}


.seperator h3 
{
    color:#000000;
    font-weight:bold;
    background-color:#FFF;
    width:400px;
    margin:auto; text-align:center;
    margin-top:-15px;
    
}
.cross-sells 
{
    color:#000000;
    font-size:16px;
    margin-top:60px;
}
.cross-sells a
{
    font-size:20px;
    color:#000000;
    font-weight:bold;
    margin-bottom:10px; display:block;
}

.cross-sells .fade_text
{
    font-size:16px;
    color:rgba(0,0,0,0.3); font-weight:bold;
    
}
.cross-sells .amount
{
    font-weight:bold;
    margin-bottom:20px;
}
.cross-sells .read_more
{
    font-size:12px;
    color:#0074cb; font-weight:bold;
}

.woocommerce-error, .woocommerce-message
{
     height: 72.4px;
  background-color: rgba(74, 143, 226, 1);
  color:#FFF;
  line-height:72.4px;
  text-align:center;
  border:0px; padding:0px !important; font-size:20px; text-transform:uppercase; font-weight:bold;
  position:fixed; top:0px; width:100%;
  z-index:1111111;
}
.woocommerce-error .cross, .woocommerce-message .cross
{
    position:absolute;
    right:20px;
    top:50%;
    transform:translateY(-50%);
    color:#FFF;
    font-size:20px;
    font-weight:bold;
    cursor:pointer;
}
 .woocommerce-message a
{
    display:none;
}


.woocommerce-error:before, .woocommerce-message:before
{
    content:" " !important;
}

.site-footer
{
    border-top: 1px solid #d7d7d7;
    width: 100%;
    padding-top:90px;
    
}
.site-footer .logo
{
    margin-bottom: 80px
}

.site-footer label
{
    margin:0px; margin-bottom:20px;
    font-weight:bold;
    color:#000;
    font-size:16px;
    width:100%;
    clear:both;display:block;
}


.site-footer input[type='email']
{
  float:left;
  border:1px solid rgba(151, 151, 151, 0.3);
  background-color:#FFF;  width: 208px;
  height: 60px;display:block; border-radius:1px;
  padding-left:20px;
  font-size:18px;
  color:rgba(0,0,0, 0.8); outline:none; border-right:0px;
  
}

.site-footer button[type=submit]
{
    width: 117px;
  height: 60px;background:none;
  background-color: #f47c60; 
  border-radius:0px; box-shadow:none; font-size:18px; font-weight:bold; border:1px solid transparent;
  color:#FFF;
  text-transform:uppercase;
    
}

.site-footer form
{
    margin-bottom:50px; display:block;

}
.site-footer #address, .site-footer .copyright
{
    font-size:12px;
    color:rgba(0,0,0,0.7); margin-bottom:30px; line-height:20px;
}
.site-footer .copyright a 
{
    color:#f47c60;
}

.site-footer .right_col
{
    text-align:right;
    
}
.site-footer .right_col .links 
{
    margin-bottom:87px;;
}
.site-footer .right_col .links li 
{
    list-style: none;
    display:inline-block;
}
.site-footer .right_col .links a 
{
    font-size:16px; font-weight:bold;
    color:#000;
    line-height:34px;
    display:inline-block;
    padding-left:10px; padding-right:10px
}

.site-footer .right_col .social_icons
{
    margin-bottom:40px;
}

.site-footer .right_col .social_icons .icon
{
    width:40px; height:40px;
    background-color:#000000;
    color:#fff; text-align: center;
    line-height:40px; border-radius:50%; margin-right:10px; margin-left:10px;
    cursor:pointer;
}