@font-face {
    font-family: conduit;
    src: url(../fonts/Conduit/conduit_itc_light1.ttf) ;
}

body
{
    font-family:conduit;
    font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  color: #000000;
}

.navbar-brand 
{
    height:80px;
}

#navbar
{
    padding:0px;
}

.navbar  .countries li:first-child
{
    position:relative;
}
.navbar  .countries li:first-child:after
{
    border-right:1px solid rgba(151, 151, 151, 0.2);
    content:" ";
    display:block;
    position:absolute;
    right:0px;
    height:27px; width:3px;
    top:50%;
    transform:translateY(-50%);
}
.navbar-nav>li>a
{
    line-height:80px;
    padding-top:0px;
    padding-bottom:0px;
    font-size:17.9px;
    font-weight:bold;
    color:#000000;
}

.navbar-nav>li.current_page_item>a, .navbar-nav>li.active>a
{
    color:#f47c60;
}

.navbar-nav>li.cart_icon>a
{
    color:#000000;
}
.navbar-nav>li.cart_icon>a i
{
    position: relative;
}
.navbar-nav>li.cart_icon>a i .circle
{
        content: " ";
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #f47c60;
    top: -2px;
    left: 6px;
    position: absolute;
    
}
#cart_icons_row i, #cart_icons_row
{
    vertical-align: top; line-height:40px;
}
#cart_icons_row
{
    color:#b3b2b2;
    font-size:18px;
    padding-bottom:87px; font-weight:bold; 
    margin-top:30px;
}
#cart_icons_row i
{
        display: inline-block;
    margin-right: 20px;
    font-size: 30px;
    color:#b3b2b2;
}
#cart_icons_row .heading
{
    font-size: 40px;
    font-weight: bold; color:#000;
    text-transform: uppercase;
}

#cart_icons_row .heading i
{
      
    color:#000000;
}


.woocommerce table.shop_table .product-thumbnail img 
{
    max-width:150px !important ; width:auto; height:auto;
}

.woocommerce table.shop_table .product-name
{
    vertical-align: top;
       
}

.woocommerce table.shop_table  .product-name a
{
     color: #000000;
    font-weight: bold;
    text-decoration: none;
    font-size:19px;
    margin-bottom:0px; display:block;
}
.woocommerce table.shop_table{
    margin-top:60px;
}
.woocommerce table.shop_table, .woocommerce table.shop_table td
{
    border:0px; border-bottom:1px dotted rgba(0, 0, 0, 0.32);
}
.woocommerce .amount
{
    font-size:20px;
}

.woocommerce table.shop_table a.remove
{
   opacity:0; color:#dddddd !important;
   background-color:transparent !important;
}
.woocommerce table.shop_table a.remove:hover 
{
    color:#b3b2b2 !important;
}
.woocommerce table.shop_table tr:hover a.remove 
{
    opacity:1;
}

.woocommerce table.shop_table input::-webkit-outer-spin-button, .woocommerce table.shop_table input::-webkit-inner-spin-button {
    display: none;
}

.woocommerce table.shop_table .qty_container
{
    width:30px; position: relative; padding-top: 16px;
    padding-bottom: 14px;
}
.woocommerce table.shop_table .qty_container .arrow_up, 
.woocommerce table.shop_table .qty_container .arrow_down
{
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    margin: auto;
    display: block; 
    width: 15px; color:#f47c60;  cursor: pointer;     height: 13px;
}
.woocommerce table.shop_table .qty_container .arrow_up i, 
.woocommerce table.shop_table .qty_container .arrow_down i
{
    font-size: 29px;
    height: 14px;
    line-height: 0px; 
}
.woocommerce table.shop_table .qty_container .arrow_down
{
    bottom: 0px; top:auto;  height:3px;
}
.woocommerce table.shop_table input.qty 
{
    font-size:16px; font-weight:bold;
    border:0px; outline:none; width:100%;
}